/* General
--------------------------------------------------------*/
body.single-laq .site-content {
	width: 100%;
}
.btn-lg .dashicons {
	font-size: inherit;
	line-height: inherit;
}
.preloader-box,
.preloader:before {
	display: inline-block;
	width: 64px;
	height: 20px;
	vertical-align: text-top;
}
.preloader:before {
	content: '';
	background: url(../img/preloader.gif) no-repeat center #fff;
}

.preloader-window.preloader > * {
	opacity: .5;
}
.preloader-window.preloader:before {
	position: absolute;
	z-index: 1;
	border: #e5e5e5 solid 1px;
	background-color: #fff;
	border-radius: 5px;
	width: 120px;
	height: 60px;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -60px;
}
/* Labels */
.label.label-unstress { background: none; }
.label.label-default { border: 1px solid #aaa; } .label.label-default.label-unstress { color: #aaa; }
.label.label-primary { border: 1px solid #337ab7; } .label.label-primary.label-unstress { color: #337ab7; }
.label.label-success { border: 1px solid #5cb85c; } .label.label-success.label-unstress { color: #5cb85c; }
.label.label-danger { border: 1px solid #d9534f; } .label.label-danger.label-unstress { color: #d9534f; }

/* Modal
--------------------------------------------------------*/
.modal-title {
	text-align: center;
	font-weight: bold;
	margin-top: 8px;
}
.modal-header .progress {
	width: 200px;
	display: inline-block;
	margin: 0;
}
.modal-body {
	min-height: 120px;
}
.modal-backdrop {
	position: fixed;
}
.modal-meta {
	margin: 10px -15px -15px -15px;
	background-color: #efefef;
	padding: 12px 15px;
	border-top: 1px solid #e5e5e5;
}
i.modal-divider {
	display: block;
	width: auto;
	height: 1px;
	background-color: #e5e5e5;
	margin: 10px -15px;
}
.level-indicator {
	font-size: .8em;
}

/* Question Screens
--------------------------------------------------------*/
.level-instruction-screen {
	margin: 0 20px;
	font-weight: 300;
}
.la-completed {
	background-color: green;
	display: inline-block;
	border-radius: 500px;
	margin: 20px;
}
.la-completed .dashicons { color: white; }
.level-responce-screen { margin: 8px 0; }
@media only screen and (min-width:768px) { /* not phone */
	.la-completed .dashicons {
		font-size: 120px;
		width: 120px;
		height: 120px;
	}
	.level-responce-screen { margin: 22px 0; }
}
.laq-question {
	margin: 30px 0 40px;
	text-align: left;
}

.laq-choice {
	border-color: #ccc;
	white-space: normal;
}

.laq-choice:hover {
	border-color: #398439;
}

.laq-choice:active, .laq-choice:focus, .laq-choice.active {
	border-color: #398439;
	background-color: #5cb85c;
	color: #fff;
}
.laq-dropdown {
	min-width: 160px;
	margin: 0 6px;
}
.laq-dropdown.active {
	background-color: #5cb85c;
	color: #fff;
}
.la-progress-saved {
	color: green;
	margin-top: 7px;
}
/*.la-better-time-container .panel-success { border-color: green; }*/
.la-better-time-container .dashicons {
	color: green;
	line-height: 1.3em;
	font-size: 2em;
	width: 30px;
}
/* Sign Up Info */
.la-info {
	margin-top: 20px;
}

/* Level Assessment Page
--------------------------------------------------------*/
.choose-level-buttons {
	position: relative;
}
.choose-level-buttons>p {
	position: relative;
	margin-bottom: 16px;
}
.choose-level-buttons>p:after {
	content: '';
	position: absolute;
	bottom: -16px;
	left: 50%;
	margin-left: -2px;
	width: 4px;
	height: 16px;
	background: #ccc;
}
.choose-level-buttons>p.level-passed:after { background-color: #4cae4c }
.choose-level-buttons>p.level-failed:after { background-color: #d9534f }
.choose-level-buttons>p:last-child:after { display: none; }
.btn.btn-locked {
	background-color: #bbb;
}
.button-level .btn.btn-locked:before,
.button-level .btn.btn-success:before,
.button-level .btn.btn-danger:before {
	content: '\f160';
	font-family: dashicons;
	speak: none;
	display: block;
	float: left;
	margin: 0 5px 0 0;
	-webkit-font-smoothing: antialiased;
	text-decoration: none !important;
}
.button-level .btn.btn-success:before { content: "\f147"; }
.button-level .btn.btn-danger:before { content: "\f158"; }
/* tooltip */
.choose-level-buttons .btn { position: relative; }
.choose-level-buttons .tooltip {
	right: 100%;
	margin-right: 3px;
	filter: alpha(opacity=1);
	opacity: 1;
}

/* Level Assessment Entry Page
--------------------------------------------------------*/
.laentry-icon {
	font-size: 240px;
	width: 240px;
	height: 240px;
	overflow: visible;
	color: #337ab7;
}
.la-form .btn {
	margin-bottom: 8px;
}
.tap-pane-languages {
	margin-top: 20px;
}

/* Level Assessment Entrance
-----------------*/
.section-level-assessment-entrance {
}
.language-tabs .nav-tabs {
	border: none;
	text-align: center;
	margin: 20px 0;
}
.language-tabs .nav-tabs>li {
	float: none;
	display: inline-block;
}
.language-tabs .nav-tabs>li>a.btn-language {
	border-radius: 4px;
	border: none;
}
.language-tabs .nav-tabs>li>a.btn-language>span { padding: 14px; }
.laentry-image img { margin: 10px 0; border-width: 0 !important; }
.laentry-image-inner .lead>span { color: #cf6b28; font-weight: bold; line-height: 1.4; }

/* Language Button
--------------------------------------------------------*/
a.btn-language,
.btn-language {
	min-width: 120px;
	color: #aaa;
	color: rgba(255,255,255,.6);
	font-size: 1.6em;
	font-weight: bold;
	padding: 0 !important;
	margin: 0 12px 0 0 !important;
	border: 2px solid #fff;
	background-position: center;
	background-size: cover;
}
.btn-language>span {
	display: block;
	background-color: rgba(0,0,0,.5);
	padding: 14px;
	border-radius: inherit;
}
.btn-language.active>span, .active>.btn-language>span {
	color: #fff;
	text-shadow: 1px 1px 0 black, 0 0 10px #000;
	background-color: rgba(0,0,0,.1);
}
.btn-language:hover>span { color: #fff; }
.btn-language.language-ingles { background-image: url(../img/flag-us.png); }
.btn-language.language-espanhol { background-image: url(../img/flag-es.png); }

/* Cursos
-----------------*/
/* Choose Language */
.la-section-cursos {
	background-color: #90b43b;
	padding: 30px;
}
.la-section-cursos .section-heading {
	margin-bottom: 20px;
}
.la-section-cursos .section-heading h1 {
	margin: 20px 20px 20px 0;
}
#LanguagePollModal .form-group label { font-weight: normal; }
#LanguagePollModal .form-group .btn.active { background-color: #5cb85c; color: #fff; }

/* Choose Age Group */
.select-age-group>.btn {
	color: #fff;
	border: 2px solid #fff;
}
.select-age-group>.active {
	position: relative;
	font-weight: bold;
	color: #608017;
	background-color: #fff;
	border-color: #608017;
}
.select-age-group>.btn:hover { background-color: #7da51e; }
.select-age-group>.btn.active:hover { background-color: #fff; }

/* Age Group Image */
.age-group-image {
	margin: 20px 0;
	line-height: 140px;
}
.age-group-image > img { max-height: 140px; border-width: 0 !important; }

/* dark green elements to show the tap container */
.select-age-group>.active:after,
.select-age-group>.active:before,
.la-info-tabs:before {
	content: '';
	display: block;
	position: absolute;
	border: 3px solid #608017;
}
.select-age-group>.active:before,
.select-age-group>.active:after {
	right: -20px;
	top: 50%;
	margin-top: -3px;
	width: 20px;
	border-width: 3px;
}
@media only screen and (min-width:992px) { /* bigger screen */
	.select-age-group {	padding-right: 20px; }
	.select-age-group>.active:before { border: none; }
	.la-info-tabs { min-height: 150px;	}
	.la-info-tabs:before {	border-width: 6px; }
}
@media only screen and (max-width:991px) { /* tablet and phone */
	.select-age-group {	padding-left: 30px; }
	.select-age-group>.active:before,
	.select-age-group>.active:after {
		left: -20px;
		border-width: 3px;
	}
	.select-age-group>.active:before {
		width: 0;
		height: 200px;
	}
	.la-info-tabs:before {	border: none; }
	.la-info-tabs-container {
		padding: 15px;
		background-color: #608017;
		border-radius: 8px;
	}
}
@media only screen and (max-width:767px) { /* phone */
	.la-info-tabs-container { border-radius: 0; }
	.select-age-group>.active:before { height: 360px; }
}
.la-info-tabs:before {
	top: 0;
	left: -6px;
	height: 100%;
	width: 12px;
	border-right: none;
}

/* Tabs Container */
.la-info-tabs {
	margin-bottom: 0;
}
.la-info-tabs .nav-tabs {
	border: 0px;
}
.la-info-tabs .nav-tabs>li {
	margin-bottom: 0;
}
.la-info-tabs .nav-tabs>li>a,
.la-info-tabs .nav-tabs>li.active>a,
.la-info-tabs .nav-tabs>li.active>a:hover {
	background-color: #fff;
	border: 2px solid #fff;
	border-bottom: 0;
	font-weight: bold;
	color: #333;
}
.la-info-tabs .nav-tabs>li>a { background-color: #90b43b; color: #fff; }
.la-info-tabs .nav-tabs>li>a:hover { background-color: #7da51e; color: #fff; }
.la-info-tabs .nav-tabs>li .dashicons { color: #fff; }
.la-info-tabs .nav-tabs>li.active .dashicons:before { content: "\f159"; color: #90b43b; }
.la-info-tabs .tab-content {
	padding: 20px;
	background-color: rgb(255, 255, 255);
	border-radius: 0 4px 4px 4px;
}
@media only screen and (max-width:767px) { /* phone */
	.la-info-tabs .nav-tabs>li {
		float: none;
		padding-right: 0;
	}
	.la-info-tabs .nav-tabs>li>a { border-radius: 0; margin-right: 0; }
	.la-info-tabs .nav-tabs>li:first-child>a { border-radius: 4px 4px 0 0; }
	.la-info-tabs .tab-content { border-radius: 0 0 4px 4px; }
}













